body {
    text-align: center;
    
    
}
button {
    padding: 10px 20px;
    margin: 25px;
    font-size: 16px;
    border-radius: 10px;
}

div {
    height: 300px;
    width: 800px;
    border: 2px solid black;
    margin: auto;
    display: flex;
    justify-content: center; /* Horizontal center */
    align-items: center;     /* Vertical center */
    font-size: 50px;
}