body {
    text-align: center;
    font-family: 'Times New Roman', Times, serif
    
}
button {
    background-color: #4CAF50; 
    padding: 10px 20px;
    margin: 20px;
    font-size: 16px;
    border-radius: 10px;
}

.box{
    height: 100px;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #0c0c0c;
    border-radius: 10px;
    
}